[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
isort = "*"
"e1839a8" = {editable = true, path = ".", extras = ["test"]}
"zest.releaser" = "*"

[dev-packages]

[requires]
python_version = "3.7"
